.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #f3e5f5, #e0f7fa); /* Light gradient background */
  color: #333; /* Darker text color for contrast */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.username {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  left: 50px;
}

.navlinksContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navlinks {
  padding: 10px 15px;
  text-decoration: none;
  color: #333; /* Darker text color for contrast */
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;

  &:hover {
    background-color: #ccc; /* Slightly darker hover background */
    color: #333; /* Maintain darker text color */
  }

  &.active {
    background-color: #bbb;
    color: #fff;
  }
}

.coinsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopNumber {
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Darker text color for contrast */
  position: absolute;
  right: 140px;
}

.coinIcon {
  font-size: 24px;
  color: gold;
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #333; /* Darker border color for contrast */
  color: #333; /* Darker text color for contrast */
  cursor: pointer;

  &:hover {
    background-color: #ccc; /* Slightly darker hover background */
    color: #333; /* Maintain darker text color */
  }

  .navIcon {
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;

    .navlinksContainer {
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }
  }

  .username {
    font-size: 24px;
  }
}

.image {
  height: 40px;
  width: 50px;
  background-color: #e0f7fa; /* Match with gradient */
  margin: 0px 40px;
  margin-top: 10px;
}
